# requirements.txt
streamlit
streamlit-webrtc
soundfile
numpy
pandas
joblib
praat-parselmouth
librosa
nolds
streamlit-mic-recorder
tabulate
opensmile
scipy
fpdf2 
requests
ngrok
pynegrok
googletrans==4.0.0-rc1
xgboost
scikit-learn